@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --body-5: "Open Sans";

  /* font sizes */
  --h4-size: 16px;
  --body-5-size: 12px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #808080;
  --color-gray-200: #202020;
  --color-whitesmoke: #f8f8f8;
  --color-black: #000;
  --color-snow: #fdfbfa;
  --color-darkslategray: #404040;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-base: 16px;
  --padding-6xl: 25px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
}
