.union-icon {
  position: relative;
  width: 456.9px;
  height: 358.4px;
  object-fit: contain;
  opacity: 0.5;
}
.image-4-icon {
  position: absolute;
  top: 395px;
  left: 1558px;
  border-radius: var(--br-11xl);
  width: 267px;
  height: 317px;
  object-fit: cover;
}
.homepage-child {
  position: absolute;
  top: 405px;
  left: 182px;
  border-radius: 4030px;
  background-color: rgba(26, 200, 75, 0.3);
  width: 385px;
  height: 75px;
}
.union-icon1 {
  position: relative;
  width: 439.1px;
  height: 408.4px;
  object-fit: contain;
  opacity: 0.5;
}
.say-goodbye-to {
  margin: 0;
}
.overpaying-for {
  margin: 0;
  white-space: pre-wrap;
}
.say-goodbye-to-container {
  position: relative;
  font-weight: 500;
}
.say-goodbye-to-overpaying-for-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-wrapper {
  width: 608px;
  position: relative;
  height: 270px;
  font-size: 60px;
  color: var(--color-gray-200);
}
.discover-the-tastiest {
  width: 712px;
  position: relative;
  line-height: 25px;
  font-family: var(--font-inter);
  display: inline-block;
}
.enter-an-item-or-restaurant-wrapper {
  width: 622px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-6xl);
}
.get-started {
  position: relative;
  font-weight: 600;
}
.frame-parent,
.sign-in {
  display: flex;
  flex-direction: row;
}
.sign-in {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-6xl);
  color: var(--color-snow);
}
.frame-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.san-jose {
  position: relative;
}
.san-jose-parent {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.group-parent,
.homepage-inner,
.san-jose-parent {
  display: flex;
  justify-content: flex-start;
}
.group-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.homepage-inner {
  position: absolute;
  top: 307px;
  left: 200px;
  width: 771px;
  flex-direction: row;
  align-items: center;
  font-size: var(--h4-size);
  color: var(--color-darkslategray);
}
.nearby-restaurants {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.frame-child {
  width: 256px;
  position: relative;
  border-radius: var(--br-3xs);
  height: 256px;
  object-fit: cover;
}
.david-and-emilys {
  width: 257px;
  position: relative;
  font-size: var(--font-size-xl);
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
}
.french-patisserie {
  position: relative;
  text-transform: lowercase;
  font-weight: 500;
}
.vector-icon {
  width: 20.9px;
  position: relative;
  height: 20px;
  opacity: 0.75;
}
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  color: var(--color-gray-200);
}
.french-patisserie-parent {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--color-gray-100);
}
.group-icon {
  width: 20px;
  position: relative;
  height: 17.8px;
  opacity: 0.75;
}
.group-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.vector-icon1 {
  width: 20px;
  position: relative;
  height: 15.9px;
  opacity: 0.75;
}
.frame-div {
  width: 256px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.rectangle-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.frame-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl);
}
.image-5-icon {
  width: 251px;
  position: relative;
  border-radius: var(--br-3xs);
  height: 254px;
  object-fit: cover;
}
.frame-wrapper1,
.frame-wrapper2,
.frame-wrapper3 {
  position: absolute;
  top: 0;
  left: 337px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl);
}
.frame-wrapper2,
.frame-wrapper3 {
  top: 516px;
  left: 0;
}
.frame-wrapper3 {
  left: 337px;
}
.frame-group {
  position: absolute;
  top: 66px;
  left: 0;
  width: 644px;
  height: 990px;
  font-size: var(--h4-size);
}
.nearby-restaurants-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 644px;
  height: 1056px;
}
.the-good-bowl-wrapper {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-gray-100);
}
.vector-icon8 {
  width: 20px;
  position: relative;
  height: 20px;
  opacity: 0.75;
}
.vector-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.rectangle-parent1,
.rectangle-parent2,
.rectangle-parent3,
.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xl);
  gap: var(--gap-xl);
}
.rectangle-parent2,
.rectangle-parent3,
.rectangle-parent4 {
  top: 516px;
}
.rectangle-parent3,
.rectangle-parent4 {
  top: 0;
  left: 337px;
}
.rectangle-parent4 {
  top: 516px;
}
.group-div {
  position: absolute;
  top: 66px;
  left: 0;
  width: 644px;
  height: 960px;
  font-size: var(--h4-size);
}
.group-container,
.recommended-food-items-parent {
  position: absolute;
  top: 0;
  left: 804px;
  width: 644px;
  height: 1026px;
}
.group-container {
  top: 1144px;
  left: 236px;
  width: 1448px;
  height: 1056px;
}
.group-child,
.restaurant {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child {
  background-color: #2b7652;
  width: 1920px;
  height: 200px;
}
.restaurant {
  font-weight: 600;
}
.vector-icon12 {
  width: 20px;
  position: relative;
  height: 20px;
}
.vector-wrapper {
  position: absolute;
  top: 8px;
  left: 166px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.component-7 {
  width: 186px;
  position: relative;
  height: 36px;
}
.search-by-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.enter-item-or-restaurant-you-a-wrapper {
  width: 622px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-6xl);
}
.frame-parent8,
.frame-parent9 {
  display: flex;
  flex-direction: row;
}
.frame-parent9 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font-inter);
}
.frame-parent8 {
  position: absolute;
  top: 84px;
  left: 399px;
  height: 32.7px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.rectangle-parent5 {
  position: absolute;
  top: 2332px;
  left: 0;
  width: 1920px;
  height: 200px;
  color: var(--color-white);
}
.personalized-recommendations {
  position: absolute;
  top: 3104px;
  left: 200px;
  font-weight: 500;
}
.ellipse-icon,
.sandwich {
  width: 160px;
  position: relative;
}
.ellipse-icon {
  border-radius: 50%;
  height: 160px;
  object-fit: cover;
}
.sandwich {
  font-weight: 500;
  display: inline-block;
  height: 36px;
  flex-shrink: 0;
}
.ellipse-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl);
  gap: var(--gap-xl);
}
.frame-parent10 {
  position: absolute;
  top: 66px;
  left: 0;
  width: 1520px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  font-size: var(--h4-size);
  color: var(--color-black);
}
.whats-on-your-mind-parent {
  position: absolute;
  top: 2652px;
  left: 200px;
  width: 1520px;
  height: 332px;
}
.rectangle-parent6 {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xl);
  gap: var(--gap-xl);
}
.frame-parent11 {
  position: absolute;
  top: 3170px;
  left: 200px;
  width: 1520px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--h4-size);
}
.subtract-icon {
  width: 23.1px;
  position: relative;
  border-radius: 18px;
  height: 20.9px;
}
.subtract-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.b {
  position: relative;
  font-size: var(--h4-size);
  font-family: var(--body-5);
}
.contact-parent,
.frame-parent18 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-parent {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent18 {
  width: 1440px;
  justify-content: space-between;
}
.facebook-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.twitter-icon,
.vector-icon17 {
  width: 22px;
  position: relative;
  height: 22px;
}
.twitter-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.facebook-icon-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.designed-by-revanth-ui {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
}
.designed-by-revanth-ui-figm-wrapper {
  width: 261px;
  position: relative;
  height: 16px;
  display: none;
  font-size: var(--body-5-size);
  color: #adaeaf;
  font-family: var(--body-5);
}
.frame-parent17 {
  position: absolute;
  top: 14px;
  left: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.calorie-calculator-parent {
  position: absolute;
  top: 19px;
  left: 498px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  font-size: var(--h4-size);
}
.image-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 197px;
  height: 61px;
  object-fit: cover;
}
.footer,
.frame-parent16 {
  position: absolute;
  top: 99px;
  left: 213px;
  width: 1467px;
  height: 90px;
}
.footer {
  top: 3776px;
  left: 0;
  background-color: #307651;
  width: 1920px;
  height: 313px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.logo-icon,
.vector-icon18 {
  width: 105px;
  position: relative;
  height: 34px;
  object-fit: cover;
}
.vector-icon18 {
  width: 19px;
  height: 19px;
  object-fit: contain;
}
.enter-item-or-restaurant-you-a-parent {
  width: 450px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px var(--padding-6xl);
  opacity: 0.75;
}
.vector-icon19 {
  position: absolute;
  height: 39.33%;
  width: 32%;
  top: 7.14%;
  right: 35.86%;
  bottom: 53.52%;
  left: 32.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bag-child {
  position: absolute;
  height: 68%;
  width: 68%;
  top: 28.57%;
  right: 17.71%;
  bottom: 3.43%;
  left: 14.29%;
  border-radius: 4.6px;
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
}
.bag {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent19,
.sign-in2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sign-in2 {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  justify-content: center;
  padding: var(--padding-base) var(--padding-6xl);
}
.frame-parent19 {
  justify-content: flex-start;
  gap: 25px;
}
.logo-parent,
.nav-bar {
  position: absolute;
  width: 1520px;
}
.logo-parent {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-bar {
  top: 60px;
  left: 200px;
  height: 49px;
  font-size: var(--h4-size);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.image-1-icon,
.image-3-icon {
  position: absolute;
  top: 50px;
  left: 180px;
  width: 213px;
  height: 68px;
  object-fit: cover;
}
.image-3-icon {
  top: 313px;
  left: 1085px;
  border-radius: var(--br-11xl);
  width: 433px;
  height: 480px;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 4089px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
