.dashboard {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl) 0px 0px;
  box-sizing: border-box;
  letter-spacing: normal;
  min-height: 100vh;
}
.dashboard1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 101px;
}
.dashboard-wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px;
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.dashboard-inner {
  margin-bottom: 70px;
}
.dashboard-footer {
  margin-top: auto;
  width: 100%;
}
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 47px;
  max-width: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 975px) {
  .dashboard {
    gap: 183px 367px;
  }
}
@media screen and (max-width: 700px) {
  .dashboard {
    gap: 92px 367px;
  }
}
