.subtract-icons {
  width: 23.1px;
  height: 20.9px;
  position: relative;
  border-radius: var(--br-lg);
  flex-shrink: 0;
}
.subtract-wrappers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-9) 0px 0px;
}
.bitewises {
  margin: 0;
  height: 42px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent3s {
  width: 159px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-9);
}
.frame-inners {
  border: none;
  background-color: transparent;
  height: 49px;
  flex: 1;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  opacity: 0.75;
  max-width: 100%;
}
.vector-icons {
  position: absolute;
  height: 39.33%;
  width: 32%;
  top: 7%;
  right: 36%;
  bottom: 53.67%;
  left: 32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bag-childs {
  position: absolute;
  height: 68%;
  width: 68%;
  top: 28.67%;
  right: 17.67%;
  bottom: 3.33%;
  left: 14.33%;
  border-radius: var(--br-8xs-6);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  z-index: 1;
}
.bags {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bag-wrappers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0px 0px;
}
.sign-ins {
  height: 49px;
  width: 96px;
}
.frame-parent4s {
  width: 626px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.image-1-icons {
  height: 68px;
  width: 213px;
  position: absolute;
  margin: 0 !important;
  top: -10px;
  left: -11px;
  object-fit: cover;
  z-index: 1;
}
.frame-parent2s {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 0px 0px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
}
.compare-pricess {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
}
.compare-prices-wrappers {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-3xs) var(--padding-5xs);
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.output-generators {
  width: 1520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.input-collectors {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px var(--padding-16xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 800px) {
  .frame-parent3s {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs-9);
  }
  .frame-parent4s {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xl);
  }
  .frame-parent2s {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 0px 0px;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .output-generators {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-31xl);
    max-width: 100%;
  }
  .input-collectors {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 0px var(--padding-16xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-9xl);
    color: var(--color-gray-200);
    font-family: var(--font-poppins);
  }
}
