/* Owner Dashboard Options */
.dashboard-options {
  display: flex;
  flex-direction: column;
}
.dashboard-option {
  color: #7c7c7c;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: 50px;
  display: block;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.option-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.option-content h3 {
  margin: 0;
}
