/* Order History Component for Owner */
.history-orders {
  width: 100%;
  border-collapse: collapse;
  padding: 0 20px 30px;
}

.history-orders table {
  width: 100%;
  border: 2px solid #307651;
  border-radius: 10px;
}

.history-orders th,
.history-orders td {
  padding: 8px;
}

.history-orders th {
  background-color: #f2f2f2;
}

.history-orders tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.history-orders tbody tr:hover {
  background-color: #cdeedd;
}
