.restaurant {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.vector-icon6 {
  width: 20px;
  position: relative;
  height: 20px;
}
.vector-wrapper {
  position: absolute;
  top: 8px;
  left: 166px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.property-1frame-27 {
  width: 186px;
  height: 36px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
